{% extends "base.html" %}

{% block content %}
<h1>{{object}}</h1>
<div class="panel panel-default">
    <div class="panel-heading">Teams <a class='pull-right btn btn-xs btn-default' href="/teams/new/">Create new team</a></div>
    <p class=panel-body>
    {% for g in object.trust.groups.all %}
    <a href="/teams/{{g.pk}}/">{{g}}</a><br>
    {% endfor %}
    </p>
    <form class="panel-footer" method=post>
        Add team: {{view.addgroupform.group}}
        {% csrf_token %}
        <input type=submit value=Add>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Collaborators</div>
    <p class=panel-body>
    {% for t in object.trust.trustees.all %}
    {{t.entity}}<br>
    {% endfor %}
    </p>
    <form class=panel-footer method=post>
        Add collaborator: {{view.adduserform.user}}
        {% csrf_token %}
        <input type=submit value=Add>
    </form>
</div>
{% endblock %}
