{% extends "home.html" %}

{% block content %}
<a href="/">&lt; back</a>
<h1>{{object}}</h1>
<h2>Collaborators:</h2>
<p>
{% for t in object.trust.trustees.all %}
{{t.entity}}<br>
{% endfor %}
</p>
<form method=post>
    Add collaborator: {{view.adduserform.user}}
    {% csrf_token %}
    <input type=submit value=Add>
</form>
<h2>Teams:</h2>
<p>
{% for g in object.trust.groups.all %}
{{g}}<br>
{% endfor %}
</p>
<form method=post>
    Add team: {{view.addgroupform.group}}
    {% csrf_token %}
    <input type=submit value=Add>
</form>
{% endblock %}
